#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

html , body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 250, 251);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  
}
